<%= form_with(model: settlement) do |form| %>
  <% if settlement.errors.any? %>
    <div style="color: red">
      <h2>Всего ошибок: <%= settlement.errors.count %>. Населенный пункт не сохранен:</h2>

      <ul>
        <% settlement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <p>Название: <%= form.text_field :name %></p>

    <p>Категория НП: <%= form.select :settlement_type_id, options_for_select(SettlementType.all.collect{ |s| [s.name, s.id] }, settlement.settlement_type_id), {include_blank: true}, class: 'form-select', style: "width: 200px" %></p>

    <p>Регион: <%= form.select :region_id, options_for_select(Region.all.collect{ |r| [r.name, r.id] }, settlement.region_id), {include_blank: true}, class: 'form-select', style: "width: 200px" %></p>
    
    <%= form.submit 'Отправить' %>
  </div>
<% end %>
