<%= form_with(model: settlement) do |form| %>
  <% if settlement.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(settlement.errors.count, "error") %> prohibited this settlement from being saved:</h2>

      <ul>
        <% settlement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <p>Название: <%= form.text_field :name %></p>
    <p>Категория: <%= form.text_field :category %></p>
    
    <%= form.submit 'Отправить' %>
  </div>
<% end %>