<p>Наши города</p>
<% @settles.each do |settlement| %>
  <p><%= settlement.name %> - <%= settlement.category %></p>
<% end -%>

<%= link_to 'Создать населенный пункт', new_settlement_path %>

<% @economicsubjects.each do |economicsubject| %>
  <p><%= economicsubject.name %> - <%= economicsubject.category %> - <%= economicsubject.money %></p>
<% end -%>


<br>-----------<br>
<%= @settles %>

<br>-----------<br>
<%= @economicsubjects %>