<p style="color: green"><%= notice %></p>

<h2>Населенные пункты</h2>

<table>
  <thead>
    <tr>
      <th>Название</th>
      <th>Категория</th>
      <th>Действие</th>
    </tr>
  </thead>
  <tbody>
    <% @settlements.each do |settlement| %>
      <% link = "/settlements/#{settlement.id}" %>
      <tr>
        <td><%= link_to settlement.name, link %></td>
        <td><%= settlement.category %></td>
        <td class="left">
          <ul>
            <%= link_to 'Редактировать', edit_settlement_path(settlement), class: 'btn1'%>
            <%= button_to 'Удалить', settlement_path(settlement), method: :delete, class: 'btn2' %>
          </ul>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>

<hr>

<%= link_to 'Добавить населенный пункт', new_settlement_path, class: 'btn' %>
