<h3>Населенные пункты</h3>
<% @settlements.each do |settlement| %>
  <p><%= settlement.name %> - <%= settlement.category %></p>
<% end -%>

<%= link_to 'Создать населенный пункт', new_settlement_path %>

<p><%= link_to 'Перейти к экономическим субъектам', economic_subjects_path %></p>

<br>-----------<br>
<%= @settles %>
