<p style="color: green"><%= notice %></p>

<h2>Населенные пункты</h2>

<table>
  <thead>
    <tr>
      <th>Название</th>
      <th>Категория</th>
      <th>Места для предприятий</th>
      <th>Регион</th>
      <th>Принадлежит</th>
      <th>Постройки</th>
      <th>Действие</th>
    </tr>
  </thead>
  <tbody>
    <% @settlements.each do |settlement| %>
      <tr>
        <td><%= link_to settlement.name, settlement_path(settlement) %></td>
        <td>
          <% if settlement.settlement_type.blank? %>
            Не выбрана
          <% else %>
            <%= link_to settlement.settlement_type&.name, settlement_type_path(settlement.settlement_type_id)%>
          <% end -%>
        </td>
        <td>
          Места для предприятий
        </td>
        <td>
          <%= link_to settlement.region.title, region_path(settlement.region) %>
        </td>
        <td>
          <% if settlement.player.blank? %>
            НП никому не принадлежит
          <% else %>
            <%= link_to settlement.player.name, player_path(settlement.player) %>
          <% end -%>
        </td>
        <td>
          Постройки
        </td>
        <td class="left">
          <ul>
            <%= link_to 'Редактировать', edit_settlement_path(settlement), class: 'btn1'%>
            <%= button_to 'Удалить', settlement_path(settlement), method: :delete, class: 'btn2' %>
          </ul>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>

<hr>

<%= link_to 'Добавить населенный пункт', new_settlement_path, class: 'btn' %>
