<p style="color: green"><%= notice %></p>

<h2>Населенный пункт: <%= @settlement.name %></h2>

<p>
Категория населеннного пункта: 
<% if @settlement.settlement_type_id.blank? %>
 не выбрана
<% else %>
 <% link_to_settlement_type = "/settlement_types/#{@settlement.settlement_type.id}" %>
 <%= link_to @settlement.settlement_type.name, link_to_settlement_type %>
<% end -%>
</p>

<p>
Предприятия в городе:<br>
 <ul>
  <%# @settlement.plant_places.each do |plant| %>
  <li><%#= link_to plant.name, plant %></li>
  <%# end -%>
 </ul>
</p>

<hr>

<div>
  <%= link_to 'Редактировать', edit_settlement_path(@settlement), class: 'btn1' %>
  <%= button_to 'Удалить', settlement_path(@settlement), method: :delete, class: 'btn2' %>
  <br><br>
  <%= link_to 'Все населенные пункты', settlements_path, class: 'btn' %>
</div>
