<p style="color: green"><%= notice %></p>

<h2>Населенный пункт: <%= @settlement.name %></h2>

<p>
Категория населеннного пункта: 
<% if @settlement.settlement_category_id == nil %>
 не выбрана
<% else %>
 <% link_to_settlement_category = "/settlement_categories/#{@settlement.settlement_category.id}" %>
 <%= link_to @settlement.settlement_category.name, link_to_settlement_category %>
<% end -%>
</p>

<p>
Предприятия в городе:<br>
 <ul>
  <% @settlement.plants.each do |plant| %>
  <li><%= link_to plant.name, plant %></li>
  <% end -%>
 </ul>
</p>

<hr>

<div>
  <%= link_to 'Редактировать', edit_settlement_path(@settlement), class: 'btn1' %>
  <%= button_to 'Удалить', settlement_path(@settlement), method: :delete, class: 'btn2' %>
  <br><br>
  <%= link_to 'Все населенные пункты', settlements_path, class: 'btn' %>
</div>
