<p style="color: green"><%= notice %></p>

<h2>Населенный пункт: <%= @settlement.name %> - <%= @settlement.category %></h2> 

Предприятия в городе:<br>
<% @settlement.plants.each do |plant| %>
  <p> <%= link_to plant.name, plant %> </p>
<% end -%>

<hr>

<div>
  <%= link_to 'Редактировать', edit_settlement_path(@settlement), class: 'btn1' %>
  <%= button_to 'Удалить', settlement_path(@settlement), method: :delete, class: 'btn2' %>
  <br><br>
  <%= link_to 'Все населенные пункты', settlements_path, class: 'btn' %>
</div>
