<p style="color: green"><%= notice %></p>

<h2>Населенный пункт: <%= @settlement.name %></h2>

<p>
Тип владения:
<% if @settlement.settlement_type_id.blank? %>
  не выбрана
<% else %>
  <%= link_to @settlement.settlement_type.name, settlement_type_path(@settlement.settlement_type_id) %>
<% end -%>
</p>

Регион владения:
<% if @settlement.region_id.blank? %>
  не выбрана
<% else %>
  <%= @settlement.region.name %>
<% end -%>
</p>


<p>
  Постройки во владении:<br>
  <ul>
    <% @settlement.buildings.each do |building| %>
      <li>
        <%= link_to building.building_level&.name, building_path(building) %>
        <%= button_to 'Улучшить здание', upgrade_building_path(building), method: :patch %>
      </li>
    <% end -%>
  </ul>
</p>

<hr>

<div>
  <%= link_to 'Редактировать', edit_settlement_path(@settlement), class: 'btn1' %>
  <%= button_to 'Удалить', settlement_path(@settlement), method: :delete, class: 'btn2' %>
  <br><br>
  <%= link_to 'Все населенные пункты', settlements_path, class: 'btn' %>
</div>
