<p style="color: green"><%= notice %></p>

<h2>Категория предприятия: <%= @plant_category.name %></h2> 

<div>
  <%= link_to "Редактировать категорию предприятия", edit_plant_category_path(@plant_category) %>

  <%= link_to "Назад к категориям предприятий", plant_categories_path %>

  <%= button_to "Удалить категорию предприятий", @plant_category, method: :delete %>
</div>
