<p style="color: green"><%= notice %></p>

<h2>Категория населенного пункта: <%= @settlement_category.name %></h2> 
 
<p>
  Населенные пункты в категории:<br>
  <ul>
    <% @settlement_category.settlements.each do |settlement| %>
    <li><%= link_to settlement.name, settlement %></li>
    <% end -%>
  </ul>
</p>

<hr>

<div>
  <%= link_to "Редактировать", edit_settlement_category_path(@settlement_category), class: 'btn1' %>
  <%= button_to "Удалить", @settlement_category, method: :delete, class: 'btn2' %>
  <br><br>
  <%= link_to "Все категории населенных пунктов", settlement_categories_path, class: 'btn' %>
</div>
