<%= form_with(model: guild) do |form| %>
  <% if guild.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(guild.errors.count, "error") %> prohibited this guild from being saved:</h2>
      <ul>
        <% guild.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <p>Название: <%= form.text_field :name %></p>
    <p>Купцы: <%= form.select :merchant_ids, options_for_select(Merchant.all.collect{ |s| [s.name, s.id] }, guild.merchant_ids), {include_blank: true}, {multiple: true, class: 'form-select', style: "width: 200px"} %></p>
    

    <%= form.submit 'Отправить' %>
  </div>
<% end %>

