<p style="color: green"><%= notice %></p>

<h2>Гильдия: <%= @guild.name %></h2>

Купцы в гильдии:<br>
  <ul>
    <% @guild.merchants.each do |merchant| %>
      <li><%= link_to merchant.name, merchant %></li>
    <% end -%>
  </ul>

  ПРЕДПРИЯТИЯ У ГИЛЬДИИ???

<hr>

<div>
  <%= link_to "Редактировать", edit_guild_path(@guild) %> |
  <%= link_to "Все гильдии", guilds_path %>
  <%= button_to "Удалить", @guild, method: :delete %>
</div>
