<p style="color: green"><%= notice %></p>

<h1>Тип предприятия</h1>

<table>
  <thead>
    <tr>
      <th>Тип предприятие</th>
      <th>Категория</th>
      <th>Производительность</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tbody>
<div id="plant_types">
  <% @plant_types.each do |plant_type| %>
    <tr>
      <td><%= link_to plant_type.name, plant_type %></td>
      <td></td>
      <td> Производительность </th>
      <td>
        <%= link_to 'Редактировать', edit_plant_type_path(plant_type), class: 'btn1' %>
        <%= button_to 'Удалить', plant_type_path(plant_type), method: :delete, class: 'btn2' %>
      </td>
    </tr>
  <% end -%>
</div>


<%= link_to "Создать новый тип предприятия", new_plant_type_path %>

