<div id="<%= dom_id technology_item %>">
  <p>
    <strong>Value:</strong>
    <%= technology_item.value %>
  </p>

  <p>
    <strong>Technology:</strong>
    <%= technology_item.technology_id %>
  </p>

  <p>
    <strong>Entity:</strong>
    <%= technology_item.entity_id %>
  </p>

  <p>
    <strong>Entity type:</strong>
    <%= technology_item.entity_type %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= technology_item.comment %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= technology_item.year %>
  </p>

</div>
