<div id="<%= dom_id influence_item %>">
  <p>
    <strong>Value:</strong>
    <%= influence_item.value %>
  </p>

  <p>
    <strong>Player:</strong>
    <%= influence_item.player_id %>
  </p>

  <p>
    <strong>Entity:</strong>
    <%= influence_item.entity_id %>
  </p>

  <p>
    <strong>Entity type:</strong>
    <%= influence_item.entity_type %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= influence_item.comment %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= influence_item.year %>
  </p>

</div>
