<p style="color: green"><%= notice %></p>

<h2>Категории населенных пунктов</h2>

<table>
  <thead>
    <tr>
      <th>Название</th>
      <th>Населенные пункты в категории</th>
      <th>Действие</th>
    </tr>
  </thead>
  <tbody>
    <% @settlement_types.each do |settlement_type| %>
     <% link = "/settlement_types/#{settlement_type.id}" %>
     <tr>
      <td><%= link_to settlement_type.name, link %></td>
      <td>
        <% array = settlement_type.settlements.to_a %>
        <% array.each do |settlement|%>
         <%= link_to settlement.name, settlement %>
        <% end -%>
      </td>
      <td class="left">
        <ul>
          <%= link_to 'Редактировать', edit_settlement_type_path(settlement_type), class: 'btn1'%>
          <%= button_to 'Удалить', settlement_type_path(settlement_type), method: :delete, class: 'btn2' %>
        </ul>
        </td>
     </tr>
    <% end -%>
    <tr>
      <td>Не выбрана категория</td>
      <td>
        <% @settlements_without_category.each do |settlement|%>
         <% link_to_settlement = "/settlements/#{settlement.id}" %>
         <%= link_to settlement&.name, link_to_settlement %>
        <% end -%>
      </td>
    </tr>
  </tbody>
</table>

<hr>

<%= link_to "Добавить категорию населенного пункта", new_settlement_type_path, class: 'btn' %>
