<div id="<%= dom_id public_order_item %>">
  <p>
    <strong>Value:</strong>
    <%= public_order_item.value %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= public_order_item.region_id %>
  </p>

  <p>
    <strong>Entity:</strong>
    <%= public_order_item.entity_id %>
  </p>

  <p>
    <strong>Entity type:</strong>
    <%= public_order_item.entity_type %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= public_order_item.comment %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= public_order_item.year %>
  </p>

</div>
