<%= form_with(model: family) do |form| %>
  <% if family.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(family.errors.count, "error") %> prohibited this family from being saved:</h2>

      <ul>
        <% family.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>


    <p>Название: <%= form.text_field :name %></p>
    <p>Купцы: <%= form.select :merchant_ids, (@merch.collect{ |s| [s.name, s.id] }, , family.merchant_ids), {include_blank: true}, {multiple: true, class: 'form-select', style: "width: 200px"} %></p>
    <%= form.submit "Отправить" %>
  </div>
<% end %>


