<p style="color: green"><%= notice %></p>

<div>
  <h2>Фамилия семьи: <%= @family.name %></h2>

  <p>
    Игровые персонажи в семье:<br>
    <ul>
      <% @family.players.each do |player|%>
        <li><%= link_to player.name, player %></li>
      <% end -%> 
    </ul> 
  </p>

</div>

<hr>

<div>
  <%= link_to "Редактировать семью", edit_family_path(@family) %>
  <%= button_to "Удалить семью", @family, method: :delete %>
  <br>
  <%= link_to "Назад к семьям", families_path %>
</div>