<p style="color: green"><%= notice %></p>

<div>
  <h2>Имя семьи: <%= @family.name %></h2>

  <p>
    Купцы в семье:<br>
    <ul>
    <% array = @family.merchants.to_a %>
    <% array.each do | merchant|%>    
     <li><%= link_to merchant.name, merchant %></li>
    <% end -%> 
    </ul> 
  </p>

  <p>Собственность семьи: </p>
</div>

<hr>

<div>
  <%= link_to "Редактировать семью", edit_family_path(@family) %>
  <%= button_to "Удалить семью", @family, method: :delete %>
  <br>
  <%= link_to "Назад к семьям", families_path %>
</div>