<p style="color: green"><%= notice %></p>
<div>
  <p> Имя семьи: <%= @family.name %> </p>

  <p> Купцы в семье: 
    <% array = @family.merchants.to_a %>
      <% array.each do | merchant|%>
      <p> <%= link_to merchant.name, merchant %></p>
  <p> <% end %> </p>  

  <p> Собственность семьи: <p>
</div>

<div>
  <%= link_to "Редактировать семью", edit_family_path(@family) %>
  <p><%= link_to "Назад к семьям", families_path %> </p>
  <p><%= button_to "Удалить семью", @family, method: :delete %></p>
</div>