<h3>Экономические субъекты (EconomicSubjects)</h3>
<% @economic_subjects.each do |economic_subject| %>
  <% link = "/economic_subjects/#{economic_subject.id}" %>
  <p><%= link_to economic_subject.name, link %> - <%= economic_subject.category %> - <%= economic_subject.money %></p>
<% end -%>

<p><%= link_to 'Создать экономический субъект', new_economic_subject_path %></p>

<p><%= link_to 'Перейти к населенным пунктам (Settlements)', settlements_path %></p>