<h2>Экономические субъекты (EconomicSubjects)</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Название</th>
      <th>Категория</th>
      <th>Количество денег</th>
      <th>Действие</th>
    </tr>
  </thead>
  <tbody>
    <% @economic_subjects.each do |economic_subject| %>
    <% link = "/economic_subjects/#{economic_subject.id}" %>
      <tr>
        <td><%= link_to economic_subject.name, link %></td>
        <td><%= economic_subject.category %></td>
        <td><%= economic_subject.money %></td>
        <td>
          <ul class="list-group">
           <li class="list-group-item"><%= link_to 'Редактировать', edit_economic_subject_path(economic_subject), class: 'btn btn-outline-primary btn-sm' %></li>
           <li class="list-group-item"><%= button_to 'Удалить', economic_subject_path(economic_subject), method: :delete, class: 'btn btn-outline-danger btn-sm', id: "delete-#{economic_subject}" %></li>
          </ul>
        </td>
      </tr>
    <% end -%>  
  </tbody>
</table>

<br><hr><br>

<p><%= link_to 'Создать экономический субъект', new_economic_subject_path %></p>

