<p><%= @economic_subject&.name %> - <%= @economic_subject&.category %> - <%= @economic_subject&.money %></p>

<%= link_to 'Редактировать', edit_economic_subject_path(@economic_subject.id) %>

<%= button_to 'Удалить', economic_subject_path(@economic_subject.id), method: :delete %>

<%= link_to 'Вернуться к экономическим субъектам', economic_subjects_path %>