<div id="<%= dom_id relation_item %>">
  <p>
    <strong>Value:</strong>
    <%= relation_item.value %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= relation_item.country_id %>
  </p>

  <p>
    <strong>Entity:</strong>
    <%= relation_item.entity_id %>
  </p>

  <p>
    <strong>Entity type:</strong>
    <%= relation_item.entity_type %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= relation_item.comment %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= relation_item.year %>
  </p>

</div>
