<div id="<%= dom_id ideologist_technology %>">
  <p>
    <strong>name:</strong>
    <%= ideologist_technology.name %>
  </p>

  <p>
    <strong>Requirements:</strong>
    <%= ideologist_technology.requirements %>
  </p>

  <p>
    <strong>Params:</strong>
    <%= ideologist_technology.params %>
  </p>

  <p>
    <strong>Ideologist type:</strong>
    <%= ideologist_technology.ideologist_type_id %>
  </p>

</div>
