<p style="color: green"><%= notice %></p>

<%= render @ideologist_technology %>

<div>
  <%= link_to "Edit this ideologist technology", edit_ideologist_technology_path(@ideologist_technology) %> |
  <%= link_to "Back to ideologist technologies", ideologist_technologies_path %>

  <%= button_to "Destroy this ideologist technology", @ideologist_technology, method: :delete %>
</div>
