<%= form_with(model: player_type) do |form| %>
  <% if player_type.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(player_type.errors.count, "error") %> prohibited this player_type from being saved:</h2>

      <ul>
        <% player_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :ideologist_type_id, style: "display: block" %>
    <%= form.text_field :ideologist_type_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
