<p style="color: green"><%= notice %></p>

<%= render @player_type %>

<div>
  <%= link_to "Редактировать", edit_player_type_path(@player_type) %> |
  <%= link_to "Все типы игровых персонажей", player_types_path %>

  <%= button_to "Удалить", @player_type, method: :delete %>
</div>
