<p style="color: green"><%= notice %></p>

<h2>Типы отрядов</h2>
<%= link_to "New troop type", new_troop_type_path %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Название отряда</th>
      <th scope="col">Параметры</th>
      <th scope="col">Действия</th>
     </tr>
  </thead>
  <tbody>
    <% @troop_types.each do |troop_type| %>
     <tr>
     <td scope="row"><%= troop_type.id %></td>
      <td><%= link_to troop_type.title, troop_type_path(troop_type.id)  %></td>
      <td>params</td>
      <td><%= link_to "Редактировать", edit_troop_type_path(troop_type), class: 'btn1'%></p>
          <p><%= button_to "Удалить", troop_type_path(troop_type), method: :delete, class: 'btn2'%></p>
      </td>
  <% end -%>
</div>

