<div id="<%= dom_id building_level %>">
  <p>
    <strong>Level:</strong>
    <%= building_level.level %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= building_level.price %>
  </p>

  <p>
    <strong>Params:</strong>
    <%= building_level.params %>
  </p>

  <p>
    <strong>Building type:</strong>
    <%= building_level.building_type_id %>
  </p>

</div>
