<p style="color: green"><%= notice %></p>

<%= render @building_level %>

<div>
  <%= link_to "Edit this building level", edit_building_level_path(@building_level) %> |
  <%= link_to "Back to building levels", building_levels_path %>

  <%= link_to "Destroy this building level", @building_level, method: :delete %>
</div>
