<p style="color: green"><%= notice %></p>

<h2>Купцы</h2>

<table>
  <thead>
    <tr>
      <th>Название</th>
      <th>Действие</th>
    </tr>
  </thead>
  <tbody>
    <% @merchants.each do |merchant| %>
      <% link = "/merchants/#{merchant.id}" %>
      <tr>
        <td><%= link_to merchant.name, link %></td>
        <td class="left">
          <ul>
            <%= link_to 'Редактировать', edit_merchant_path(merchant), class: 'btn1' %>
            <%= button_to 'Удалить', merchant_path(merchant), method: :delete, class: 'btn2', id: "delete-#{merchant.id}" %>
          </ul>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>

<hr>

<%= link_to "Добавить купца", new_merchant_path, class: 'btn' %>
