<p style="color: green"><%= notice %></p>

<h2>Купец: <%= @merchant.name %></h2> 

<p>
  Гильдия:
  <% if @merchant.guild.blank? %>
    Купец не в гильдии
    <%= render "form_guild", merchant: @merchant %>
  <% else %>
    <%= link_to @merchant.guild&.name, @merchant.guild %>
  <% end %>
</p>

<p>
  Предприятия:
  <% @merchant.plants.each do |plant| %>
    <li><%= link_to plant.name, plant %> </li>
  <% end -%>
</p>

<p>
  Игрок:
  <% if @merchant.player_id.blank? %>
    Купец не отнесен к игроку
  <% else %>
    <% link_to_player = "/players/#{@merchant.player_id}/" %>
    <% name_of_player = Player.find(@merchant.player_id).name %>
    <%= link_to name_of_player, link_to_player %>
  <% end %>
</p>

<p>
  Семья:
  <% if @merchant.family_id.blank? %>
    Купец не в семье.
    <%= render "form_family", merchant: @merchant %>
  <% else %>
    <% link_to_family = "/families/#{@merchant.family_id}" %>
    <% name_of_family = Family.find(@merchant.family_id).name %>
    <%= link_to name_of_family,  link_to_family %>
  <% end %>
</p>
<hr>

<div>
  <%= link_to "Редактировать", edit_merchant_path(@merchant), class: 'btn1' %>
  <%= button_to "Удалить", @merchant, method: :delete, class: 'btn2' %>
  <br><br>
  <%= link_to "Все купцы", merchants_path, class: 'btn' %> 
</div>
