<%= form_with(model: plant) do |form| %>
  <% if plant.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(plant.errors.count, "error") %> prohibited this plant from being saved:</h2>

      <ul>
        <% plant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div>

  
<%array = Guild.all.collect{ |g| [g.name, g.id.to_s + "_" + g.class.to_s] } %>

      <p>Добавить в гильдию: <%= form.select :economic_subject_id, options_for_select(Guild.all.collect{ |g| [g.name, g.id.to_s + "_" + g.class.to_s] }), {:include_blank => true}, class: 'form-select', style: "width: 200px" %>
        
        <%= form.submit ('Отправить')%>
      </p>
      
      <p>Добавить купцу: <%= form.select :economic_subject_id, options_for_select(Merchant.all.collect{ |m| [m.name, m.id] }), {:include_blank => true}, class: 'form-select', style: "width: 200px" %>
      </p>
      
      <%= form.submit ('Отправить') %>
  
  </div>
<% end %>


