<%= form_with(model: plant) do |form| %>
  <% if plant.errors.any? %>
    <div style="color: red">
      <h2>Всего ошибок: <%= plant.errors.count %>. Предприятие не сохранено:</h2>

      <ul>
        <% plant.errors.each do |error| %>
          <li><%= error.message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div>
      <p>Комментарий: <%= form.text_field :comments %></p>

      <p>
        <% es_with_types = (Guild.all + Player.all).collect{ |e| [e.name, "#{e.id}_#{e.class}"] } %>
        Владелец: <%= form.select :economic_subject, options_for_select(es_with_types), {:include_blank => true}, class: 'form-select', style: "width: 200px" %>
      </p>

      <p>Уровень предприятия: <%= form.select :plant_level_id, options_for_select(PlantLevel.all.collect{ |pl| [pl.level, pl.id] }, plant.plant_level_id), {:include_blank => true}, class: 'form-select', style: "width: 200px" %></p>

      <p>Место для предприятия: <%= form.select :plant_place_id, options_for_select(PlantPlace.all.collect{ |pp| [pp.name, pp.id] }, plant.plant_place_id), {:include_blank => true}, class: 'form-select', style: "width: 200px" %></p>

      <p>Кредит: <%= form.select :credit_id, options_for_select(Credit.all.collect{ |c| [c.sum, c.id] }, plant.credit_id), {:include_blank => true}, class: 'form-select', style: "width: 200px" %></p>
      
      <%= form.submit ('Отправить') %>
  
  </div>
<% end %>


