<h2>Предприятия</h2>
<table>
  <thead>
    <tr>
      <th>Предприятие</th>
      <th>Комментарий</th>
      <th>Уровень</th>
      <th>Место для предприятия</th>
      <th>Владелец</th>
      <th>Кредит</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tbody>
    <% @plants.each do |plant| %>
     <tr>
      <td><%= link_to plant.name_of_plant, plant %></td>
      <td><%= plant.comments %></td>
      <td>
        <% if plant.plant_level.blank? %>
          Не выбран
        <% else %>
          <% link_to_plant_level = "/plant_levels/#{plant.plant_level.id}" %>
          <%= link_to plant.plant_level&.level, link_to_plant_level %>
        <% end -%>
      </td>
      <td>
        <% if plant.plant_place.blank? %>
          Не выбрано
        <% else %>
          <% link_to_plant_place = "/plant_places/#{plant.plant_place.id}" %>
          <%= link_to plant.plant_place&.title, link_to_plant_place %>
        <% end -%>
      </td>
      <td><%= link_to plant.economic_subject&.name, plant.economic_subject %></td>
      <td>
        <% if plant.credit.blank? %>
          Нет кредита
        <% else %>
          <% link_to_credit = "/credits/#{plant.credit.id}" %>
          <%= link_to plant.credit&.sum, link_to_credit %>
        <% end -%>
      </td>
      <td class="left">
        <ul>
          <%= link_to 'Редактировать', edit_plant_path(plant), class: 'btn1' %>
          <%= button_to 'Удалить', destroy_plant_path(plant), method: :delete, class: 'btn2' %>
        </ul>
      </td>
     </tr>
    <% end -%>  
  </body>
</table>

<hr>

<%= link_to "Добавить предприятие", new_plant_path, class: 'btn' %>
 

