<h1>Предприятия</h1>

  <table class="table">
    <thead>
      <th scope="col"><%= link_to "Создать новое предприятие", new_plant_path %></th>
    </thead>
  </table>
  
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Предприятие</th>
        <th scope="col">Редактировать</th>
        <th scope="col">Экономический субъект</th>
        <th scope="col">Цена</th>
        <th scope="col">Уровень</th>
        <th scope="col">Место</th>
        <th scope="col">Удалить</th>
      </tr>
    </thead>
      <tbody>
        <% @plants.each do |plant| %>
          <% link = "/plants/#{plant.id}" %>
          <% link_to_edit = "/plants/#{plant.id}/edit"%>
      <tr>
        <td scope="row"><%= plant.id %></th>
        <td><%= link_to plant.name, link  %> </td>
        <td><%= link_to "Редактировать предприятие", link_to_edit %></td>
        <td><%= link_to plant.economic_subject&.name, plant.economic_subject   %> </td>
        <td><%= plant.price  %> </td>
        <td><%= plant.level  %> </td>
        <td><%= plant.location  %> </td>          
        <td><%= button_to "Удалить предприятие", destroy_plant_path(plant), 
                  method: :delete %></td>
      </tr>
      <% end -%>  
      </body>
  </table>
</html>

