<p style="color: green"><%= notice %></p>

<p> Название: <%= @plant.name %> </p>
<p> Категория: <%= @plant.category %> </p>
<p> Цена: <%= @plant.price %> </p>
<p> Уровень: <%= @plant.level %> </p>
<p> Населенный пункт: <%= link_to @plant.settlement&.name, @plant.settlement %> </p>

<br>
<%= link_to "Редактировать предприятие", edit_plants_path %>
<br>

<%= link_to "Удалить предприятие", destroy_plant_path %>
<br>

<%= link_to "К предприятиям", plants_path %>

