<p style="color: green"><%= notice %></p>

<h2>Название: <%=  @plant.name_of_plant %></h2>

<p> Категория: <%= @plant.plant_category.name %></p>

<p> Уровень: <%= @plant.level %> </p>
<p>
Населенный пункт:
<% if @plant.settlement_id.blank? %>
 не выбран
<% else %>
 <% link_to_settlement = "/settlements/#{@plant.settlement.id}" %>
 <%= link_to @plant.settlement.name, link_to_settlement %>
<% end -%>
</p>

<p> Гильдия/купец: <%= link_to @plant.economic_subject&.name, @plant.economic_subject %> </p>

<hr>

<div>
  <%= link_to "Редактировать", edit_plant_path, class: 'btn1' %>
  <%= button_to "Удалить", destroy_plant_path, method: :delete,  class: 'btn2'%></td>
  <br><br>
  <%= link_to "Все предприятия", plants_path, class: 'btn'  %>
</div>


 