<div id="<%= dom_id building %>">
  <p>
    <strong>Comment:</strong>
    <%= building.comment %>
  </p>

  <p>
    <strong>Params:</strong>
    <%= building.params %>
  </p>

  <p>
    <strong>Building level:</strong>
    <%= building.building_level_id %>
  </p>

  <p>
    <strong>Settlement:</strong>
    <%= building.settlement_id %>
  </p>

</div>
