<p style="color: green"><%= notice %></p>

<h1>Постройки</h1>
<%= link_to "Создать новую постройку", new_building_path %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Название</th>
      <th scope="col">Уровень</th>
      <th scope="col">Действия</th>
    </tr>
  </thead>
  <tbody>
    <% @buildings.each do |building| %>
      <tr>
        <td><%= building.id%></td>
        <td><%= link_to building.building_level.building_type.title, building_path(building) %></td>
        <td><%= building.building_level.id %></td>
        <td><%= link_to "Редактировать постройку", edit_building_path(building), class: 'btn1' %>
            <%= button_to "Удалить постройку", building_path(building), method: :delete, class:'btn2', id: "delete-#{building.id}"%>
      </tr>
    <% end %>
  </tbody>
</table>





