<div id="<%= dom_id plant_level %>">
  <p>
    <strong>Уровень:</strong>
    <%= plant_level.level %>
  </p>

  <p>
    <strong>Залоговая стоимость:</strong>
    <%= plant_level.deposit %>
  </p>

  <p>
    <strong>Издержки:</strong>
    <%= plant_level.charge %>
  </p>

  <p>
    <strong>Формула:</strong>
    <%= plant_level.formula %>
  </p>

  <p>
    <strong>Стоимость:</strong>
    <%= plant_level.price %>
  </p>

  <p>
    <strong>Максимальная выработка:</strong>
    <%= plant_level.max_product %>
  </p>

  <p>
    <strong>Тип предприятия:</strong>
    <% if plant_level.plant_type.blank? %>
     Не выбран
    <% else %>
     <% link_to_plant_type = "/plant_types/#{plant_level.plant_type.id}" %>
     <%= link_to plant_level.plant_type&.name, link_to_plant_type %>
    <% end -%>
  </p>

</div>
