<div id="<%= dom_id plant_level %>">
  <p>
    <strong>Level:</strong>
    <%= plant_level.level %>
  </p>

  <p>
    <strong>Deposit:</strong>
    <%= plant_level.deposit %>
  </p>

  <p>
    <strong>Charge:</strong>
    <%= plant_level.charge %>
  </p>

  <p>
    <strong>Formula:</strong>
    <%= plant_level.formula %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= plant_level.price %>
  </p>

  <p>
    <strong>Max product:</strong>
    <%= plant_level.max_product %>
  </p>

</div>
