<p style="color: green"><%= notice %></p>

<%= render @plant_level %>

<div>
  <%= link_to "Редактировать", edit_plant_level_path(@plant_level) %> |
  <%= link_to "Назад к уровням предприятий", plant_levels_path %>

  <%= button_to "Удалить", @plant_level, method: :delete %>
</div>
