<div id="<%= dom_id credit %>">
  <p>
    <strong>Sum:</strong>
    <%= credit.sum %>
  </p>

  <p>
    <strong>Deposit:</strong>
    <%= credit.deposit %>
  </p>

  <p>
    <strong>Procent:</strong>
    <%= credit.procent %>
  </p>

  <p>
    <strong>Start year:</strong>
    <%= credit.start_year %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= credit.duration %>
  </p>

  <p>
    <strong>Игровой персонаж:</strong>
    <% if credit.player_id.blank?%>
      Не выбран
    <% else %>
      <% link_to_player = "/players/#{credit.player_id}/" %>
      <%= link_to credit.player&.name, link_to_player %>
    <% end -%>
  </p>

</div>
