<%= form_with(model: credit) do |form| %>
  <% if credit.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(credit.errors.count, "error") %> prohibited this credit from being saved:</h2>

      <ul>
        <% credit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :sum, style: "display: block" %>
    <%= form.number_field :sum %>
  </div>

  <div>
    <%= form.label :deposit, style: "display: block" %>
    <%= form.number_field :deposit %>
  </div>

  <div>
    <%= form.label :procent, style: "display: block" %>
    <%= form.text_field :procent %>
  </div>

  <div>
    <%= form.label :start_year, style: "display: block" %>
    <%= form.number_field :start_year %>
  </div>

  <div>
    <%= form.label :duration, style: "display: block" %>
    <%= form.number_field :duration %>
  </div>

  <div>
    Игровой персонаж: <%= form.select :player_id, options_for_select(Player.all.collect{ |p| [p.name, p.id] }, credit.player_id), {:include_blank => true}, class: 'form-select', style: "width: 200px" %>
  </div>

  <div>
    Предприятия: <%= form.select :plant_ids, options_for_select(Plant.all.collect{ |p| [p.comments, p.id] }, credit.plant_ids), {:include_blank => true}, {multiple: true, class: 'form-select', style: "width: 200px"} %></p>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
