<p style="color: green"><%= notice %></p>

<%= render @credit %>

<div>
  <%= link_to "Редактировать", edit_credit_path(@credit) %> |
  <%= link_to "Назад к кредитам", credits_path %>

  <%= button_to "Удалить", @credit, method: :delete %>
</div>
