<%= form_with(model: army) do |form| %>
  <% if army.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(army.errors.count, "error") %> prohibited this army from being saved:</h2>

      <ul>
        <% army.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
 <% end %>

  <div>
    <p>Размер: <%= form.select :army_size_id, options_for_select(ArmySize.all.collect{ |a_s| [a_s.name, a_s.id]}, army.army_size_id), {:include_blank => true}, class: 'form-select', style: "width: 200px" %></p>

    <p>Принадлежит игроку: <%= form.select :player_id, options_for_select(Player.all.collect{ |p| [p.name, p.id]}, army.player_id), {:include_blank => true}, class: 'form-select', style: "width: 200px" %></p>

   <p>Регион: <%= form.select :region_id, options_for_select(Region.all.collect{ |r| [r.name, r.id]}, army.region_id), {:include_blank => true}, class: 'form-select', style: "width: 200px" %></p>

    <%= form.submit 'Отправить'%>
    <% end -%>