<%= form_with(model: building_type) do |form| %>
  <% if building_type.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(building_type.errors.count, "error") %> prohibited this building_type from being saved:</h2>

      <ul>
        <% building_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :params, style: "display: block" %>
    <%= form.text_field :params %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
