<%= form_with(model: player) do |form| %>
  <% if player.errors.any? %>
    <div style="color: red">
      <h2>Всего ошибок:<%= player.errors.count %> Игрок не сохранен:</h2>

      <ul>
        <% player.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <p>Название: <%= form.text_field :name %></p>
    <p>Купец: <%= form.select :merchant_id, options_for_select(Merchant.all.collect{ |m| [m.name, m.id] }, player.merchant_id), {:include_blank => true}, class: 'form-select', style: "width: 200px" %></p>
    <%= form.submit 'Отправить'%>
  </div>
<% end %>
