<%= form_with(model: player) do |form| %>
  <% if player.errors.any? %>
    <div style="color: red">
      <h2>Всего ошибок:<%= player.errors.count %> Игрок не сохранен:</h2>

      <ul>
        <% player.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <p>Имя: <%= form.text_field :name %></p>
    
    <p>Семья: <%= form.select :family_id, options_for_select(Family.all.collect{ |f| [f.name, f.id] }, player.family_id), {:include_blank => true}, class: 'form-select', style: "width: 200px" %></p>

    <p>Тип игрока: <%= form.select :player_type_id, options_for_select(PlayerType.all.collect{ |pt| [pt.name, pt.id] }, player.player_type_id), {:include_blank => true}, class: 'form-select', style: "width: 200px" %></p>

    <p>Кредит: <%= form.select :credit_ids, options_for_select(Credit.all.collect{ |c| [c.sum, c.id] }, player.credit_ids), {include_blank: true}, {multiple: true, class: 'form-select', style: "width: 200px"} %></p>

    <p>Политические действия: <%= form.select :political_action_ids, options_for_select(PoliticalAction.all.collect{ |pa| [pa.year, pa.id] }, player.political_action_ids), {include_blank: true}, {multiple: true, class: 'form-select', style: "width: 200px"} %></p>

    <p>Предприятия: <%= form.select :plant_ids, options_for_select(Plant.all.collect{ |p| [p.comments, p.id] }, player.plant_ids), {:include_blank => true}, {multiple: true, class: 'form-select', style: "width: 200px"} %></p>
    
    <p>Должность: <%= form.select :job_id, options_for_select(Job.all.collect{ |j| [j.name, j.id] }, player.job_id), {:include_blank => true}, class: 'form-select', style: "width: 200px" %></p>
    <%= form.submit 'Отправить' %>

  </div>
<% end %>
