<p style="color: green"><%= notice %></p>

<h2>Игроки</h2>
  
<table>
  <thead>
    <tr>
      <th>№</th>
      <th>Имя игрока</th>
      <th>Купец</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
     <% link = "/players/#{player.id}"%>
     <tr>
      <td><%= player.id %></td>
      <td><%= link_to player.name, player %></td>
      <td>
        <% if player.player_type_id.blank? %>
         Не выбран
        <% else %>
         <% #link_to_player_type_id = "/merchants/#{player.merchant.id}" %>
         <%= player.player_type&.title%>
        <% end -%>
      </td>
      <td class="left">
        <ul>
          <%= link_to "Редактировать", edit_player_path(player), class: 'btn1' %>
          <%= button_to "Удалить", player_path(player), method: :delete, class: 'btn2' %>
        </ul>
      </td>
     </tr>
    <% end -%>
  </tbody>
</table>

<hr>

<%= link_to "Добавить игрока", new_player_path, class: 'btn' %>
