<p style="color: green"><%= notice %></p>

<h2>Игроки</h2>
  
<table>
  <thead>
    <tr>
      <th>Имя игрового персонажа</th>
      <th>Семья</th>
      <th>Тип игрового персонажа</th>
      <th>Кредиты</th>
      <th>Политические действия</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
     <tr>
      <td><%= link_to player.name, player %></td>
      <td>
        <% if player.family.blank? %>
         Не выбрана
        <% else %>
         <% link_to_family = "/families/#{player.family.id}" %>
         <%= link_to player.family&.name, link_to_family %>
        <% end -%>
      </td>
      <td>
        <% if player.player_type.blank? %>
         Не выбран
        <% else %>
         <% link_to_player_type = "/player_types/#{player.player_type.id}" %>
         <%= link_to player.player_type&.title, link_to_player_type %>
        <% end -%>
      </td>
      <td>
        <% if player.credit_ids.blank? %>
         Нет кредита
        <% else %>
         <% player.credits.each do |credit|%>
          <%= link_to credit.sum, credit %>
         <% end -%>
        <% end -%>
      </td>
      <td>
        <% if player.political_action_ids.blank? %>
         Нет политичеcких действий
        <% else %>
         <% player.political_actions.each do |political_action|%>
          <%= link_to political_action.year, political_action %>
         <% end -%>
        <% end -%>
      </td>
      <td class="left">
        <ul>
          <%= link_to "Редактировать", edit_player_path(player), class: 'btn1' %>
          <%= button_to "Удалить", player_path(player), method: :delete, class: 'btn2' %>
        </ul>
      </td>
     </tr>
    <% end -%>
  </tbody>
</table>

<hr>

<%= link_to "Добавить игрока", new_player_path, class: 'btn' %>
