<p style="color: green"><%= notice %></p>

<h2>Имя игрока: <%= @player.name %></h2>

<% if @player.player_type_id.blank?%>
  <p>Тип игрока: не назначен</p>
<% else %>
  <p>Тип игрока: <%= link_to @player.player_type.title, player_type_path(@player) %></p>
<% end %>

<% if @player.job.blank?%>
  <p>Должность: не назначен</p>
<% else %>
  <p>Должность: <%= @player.job.name %></p>
<% end %>

<hr>

<div>
  <%= link_to "Редактировать", edit_player_path(@player), class: 'btn1' %>
  <%= button_to "Удалить", @player, method: :delete, class: 'btn2' %>
  <br><br>
  <%= link_to "Все игроки", players_path, class: 'btn'%>
</div>
