<p style="color: green"><%= notice %></p>

<h2>Имя игрока: <%= @player.name %></h2>

<% if @player.family_id.blank?%>
 <p>Семья не выбрана</p>
<% else %>
 <% link_to_family = "/families/#{@player.family.id}/" %>
 <p>Семья: <%= link_to @player.family.name, link_to_family %></p>
<% end %>

<% if @player.player_type_id.blank?%>
 <p>Тип игрока не выбран</p>
<% else %>
 <% link_to_player_type = "/player_types/#{@player.player_type.id}/" %>
 <p>Тип игрока: <%= link_to @player.player_type.title, link_to_player_type %></p>
<% end %>

<% if @player.job.blank?%>
  <p>Должность: не назначен</p>
<% else %>
  <p>Должность: <%= @player.job.name %></p>
<% end %>

<% if @player.guild_id.blank? %>
 <p>Гильдия не выбрана</p>
<% else %>
 <% link_to_guild = "/guilds/#{@player.guild.id}/" %>
 <p>Гильдия: <%= link_to @player.guild.name, link_to_guild %></p>
<% end %>

<p>
  <% if @player.credit_ids.blank? %>
   Кредитов нет
   <% else %>
   Кредиты:<br>
   <ul>
    <% @player.credits.each do |credit| %>
     <li><%= link_to credit.sum, credit %></li>
    <% end -%> 
   </ul>
  <% end %> 
</p>

<p>
  <% if @player.settlements.blank? %>
   У игрока нет городов
   <% else %>
   Города:<br>
   <ul>
    <% @player.settlements.each do |settlement| %>
     <li><%= link_to settlement.name, settlement %></li>
    <% end -%>
   </ul>
  <% end %>
</p>

<p>
  <% if @player.armies.blank? %>
   У игрока нет городов
   <% else %>
   Армии:<br>
   <ul>
    <% @player.armies.each do |army| %>
     <li><%= link_to army.army_size&.name, army %></li>
    <% end -%>
   </ul>
  <% end %>
</p>

<p>
  <% if @player.political_action_ids.blank? %>
   Политических действий нет
   <% else %>
   Политичекие действия:<br>
   <ul>
    <% @player.political_actions.each do |political_action| %>
     <li><%= link_to political_action.year, political_action %></li>
    <% end -%> 
   </ul>
  <% end %> 
</p>

Прибыль игрока: <%= @player.income  %><br>
Расходы игрока на армию: <%= render_cost(@player.player_military_outlays) %><br>

<hr>

<div>
  <%= link_to "Редактировать", edit_player_path(@player), class: 'btn1' %>
  <%= button_to "Удалить", @player, method: :delete, class: 'btn2' %>
  <br><br>
  <%= link_to "Все игроки", players_path, class: 'btn'%>
</div>
