<p style="color: green"><%= notice %></p>
<div>
  <p> Имя игрока: <%= @player.name %> </p>

  <% if @player.merchant_id == nil%>
    <p>Купец: (ИГРОКУ ПОКА НЕ НАЗНАЧЕН КУПЕЦ)</p>

  <% else %>
    <% link_to_merchant = "/merchants/#{@player.merchant.id}/" %>

    <p>Купец: <%= link_to @player.merchant.name, link_to_merchant %></p>
  
  <% end %>

 </div>



<div>
  <%= link_to "Редактировать игрока", edit_player_path(@player) %> |
  <%= link_to "Назад к игрокам", players_path %>
  <%= button_to "Удалить игрока", @player, method: :delete %>
</div>
