<p style="color: green"><%= notice %></p>

<h2>Имя игрока: <%= @player.name %></h2>

<% if @player.merchant_id == nil%>
 <p>Купец: не назначен</p>
<% else %>
 <% link_to_merchant = "/merchants/#{@player.merchant.id}/" %>
 <p>Купец: <%= link_to @player.merchant.name, link_to_merchant %></p>
<% end %>

<hr>

<div>
  <%= link_to "Редактировать", edit_player_path(@player), class: 'btn1' %>
  <%= button_to "Удалить", @player, method: :delete, class: 'btn2' %>
  <br><br>
  <%= link_to "Все игроки", players_path, class: 'btn'%>
</div>
