<p style="color: green"><%= notice %></p>

<%= render @fossil_type %>

<div>
  <%= link_to "Редактировать", edit_fossil_type_path(@fossil_type) %> |
  <%= link_to "Назад к видам ископаемых", fossil_types_path %>

  <%= button_to "Удалить", @fossil_type, method: :delete %>
</div>
