<p style="color: green"><%= notice %></p>

<h2>Государства</h2>

<table>
  <thead>
    <tr>
      <th>Номер</th>
      <th>Название</th>
      <th>Действие</th>
    </tr>
  </thead>
  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td><%= country.id %></td>
        <td><%= link_to country.title, country_path(country) %></td>
        <td>
          <%= link_to 'Редактировать', edit_country_path(country), class: 'btn1'%>
          <%= button_to 'Удалить', country_path(country), method: :delete, class: 'btn2' %>
        </td>
     </tr>
    <% end %>
  </tbody>
</table>
<p><%= link_to 'Добавить государство', new_country_path, class: 'btn' %></p>