<div id="<%= dom_id political_action %>">
  <p>
    <strong>Year:</strong>
    <%= political_action.year %>
  </p>

  <p>
    <strong>Success:</strong>
    <%= political_action.success %>
  </p>

  <p>
    <strong>Params:</strong>
    <%= political_action.params %>
  </p>

  <p>
    <strong>Вид политических действий:</strong>
    <% if political_action.political_action_type_id.blank? %>
      Не выбран
    <% else %>
      <% link_to_political_action_type = "/political_action_types/#{political_action.political_action_type_id}/" %>
      <%= link_to political_action.political_action_type&.title, link_to_political_action_type %></li>
    <% end -%> 
  </p>

  <p>
    <strong>Игровой персонаж:</strong>
    <% if political_action.player_id.blank?%>
     Не выбран
    <% else %>
     <% link_to_player = "/players/#{political_action.player_id}/" %>
     <%= link_to political_action.player&.name, link_to_player %>
    <% end -%>
  </p>

</div>
