<div id="<%= dom_id political_action %>">
  <p>
    <strong>Year:</strong>
    <%= political_action.year %>
  </p>

  <p>
    <strong>Success:</strong>
    <%= political_action.success %>
  </p>

  <p>
    <strong>Params:</strong>
    <%= political_action.params %>
  </p>

  <p>
    <strong>Political action type:</strong>
    <%= political_action.political_action_type_id %>
  </p>

  <p>
    <strong>Player:</strong>
    <%= political_action.player_id %>
  </p>

</div>
