<div id="<%= dom_id political_action %>">
  <p>
    <strong>Year:</strong>
    <%= political_action.year %>
  </p>

  <p>
    <strong>Success:</strong>
    <%= political_action.success %>
  </p>

  <p>
    <strong>Params:</strong>
    <%= political_action.params %>
  </p>

  <p>
    <strong>Вид политических действий:</strong>
    <% if political_action.political_action_type_ids.blank? %>
     Не выбран
    <% else %>
     <ul>
      <% political_action.political_action_types.each do |political_action_type| %>
       <li><%= link_to political_action_type.title, political_action_type %></li>
      <% end -%>
     </ul>
    <% end %> 
  </p>

  <p>
    <strong>Игровой персонаж:</strong>
    <% if political_action.player_id.blank?%>
     Не выбран
    <% else %>
     <% link_to_player = "/players/#{political_action.player_id}/" %>
     <%= link_to political_action.player&.name, link_to_player %>
    <% end -%>
  </p>

</div>
