<p style="color: green"><%= notice %></p>

<%= render @political_action %>

<div>
  <%= link_to "Редактировать", edit_political_action_path(@political_action) %> |
  <%= link_to "Назад к политическим действиям", political_actions_path %>

  <%= button_to "Удалить", @political_action, method: :delete %>
</div>
