<%= form_with(model: plant_place) do |form| %>
  <% if plant_place.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(plant_place.errors.count, "error") %> prohibited this plant_place from being saved:</h2>

      <ul>
        <% plant_place.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
   Категория предприятия: <%= form.select :plant_category_id, options_for_select(PlantCategory.all.collect{ |pc| [pc.name, pc.id] }, plant_place.plant_category_id), {:include_blank => true}, class: 'form-select', style: "width: 200px" %>
  </div>

   <div>
    Виды ископаемых: <%= form.select :fossil_type_ids, options_for_select(FossilType.all.collect{ |ft| [ft.title, ft.id] }, plant_place.fossil_type_ids), {include_blank: true}, {multiple: true, class: 'form-select', style: "width: 200px"} %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
