<p style="color: green"><%= notice %></p>

<%= render @plant_place %>

<div>
  <%= link_to "Редактировать", edit_plant_place_path(@plant_place) %> |
  <%= link_to "Назад к местам для предприятий", plant_places_path %>

  <%= button_to "Удалить", @plant_place, method: :delete %>
</div>
