<p style="color: green"><%= notice %></p>

<%= render @plant_place %>

<div>
  <%= link_to "Edit this plant place", edit_plant_place_path(@plant_place) %> |
  <%= link_to "Back to plant places", plant_places_path %>

  <%= button_to "Destroy this plant place", @plant_place, method: :delete %>
</div>
