<%= form_with(model: political_action_type) do |form| %>
  <% if political_action_type.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(political_action_type.errors.count, "error") %> prohibited this political_action_type from being saved:</h2>

      <ul>
        <% political_action_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :action, style: "display: block" %>
    <%= form.text_field :action %>
  </div>

  <div>
    <%= form.label :params, style: "display: block" %>
    <%= form.text_field :params %>
  </div>

  <div>
    Политическое действие: <%= form.select :political_action_ids, options_for_select(PoliticalAction.all.collect{ |pa| [pa.year, pa.id] }, political_action_type.political_action_ids), {multiple: true, class: 'form-select', style: "width: 200px"} %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
