<div id="<%= dom_id political_action_type %>">
  <p>
    <strong>Title:</strong>
    <%= political_action_type.title %>
  </p>

  <p>
    <strong>Action:</strong>
    <%= political_action_type.action %>
  </p>

  <p>
    <strong>Params:</strong>
    <%= political_action_type.params %>
  </p>

  <p>
    <strong>Политичеcкое действие:</strong>
    <% if political_action_type.political_action_id.blank?%>
     Не выбрано
    <% else %>
    
     <%= link_to political_action_type.political_action&.year, political_action_path %>
    <% end -%>
  </p>

</div>
