<div id="<%= dom_id technology %>">
  <p>
    <strong>name:</strong>
    <%= technology.name %>
  </p>

  <p>
    <strong>Requirements:</strong>
    <%= technology.requirements %>
  </p>

  <p>
    <strong>Params:</strong>
    <%= technology.params %>
  </p>

  <p>
    <strong>Ideologist type:</strong>
    <%= technology.ideologist_type_id %>
  </p>

</div>
