<p style="color: green"><%= notice %></p>

<%= render @technology %>

<div>
  <%= link_to "Edit this ideologist technology", edit_technology_path(@technology) %> |
  <%= link_to "Back to ideologist technologies", technologies_path %>

  <%= button_to "Destroy this ideologist technology", @technology, method: :delete %>
</div>
