<p style="color: green"><%= notice %></p>

    <strong>Название региона:</strong>
    <%= @region.name %>
  </p>

  <p>
    <strong>Общественный порядок в регионе:</strong>
    <%= @region.params.dig('public_order') %>

<div>
  <%= link_to "Edit this region", edit_region_path(@region) %> |
  <%= link_to "Back to regions", regions_path %>

  <%= button_to "Destroy this region", @region, method: :delete %>
</div>
